{% extends "main_layout.html" %}
{% block content %}

<!-- Page Content-->
<div class="container">
    <!-- Heading Row-->
    <div class="row align-items-center">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{ url_for('static', filename='avatar.jpg' ) }}" alt="..." /></div>
        <div class="col-lg-5">
            <h2 class="font-weight-light">Umar Ulkhak | IT student from Harapan Bersama Polytechnic.</h2>
            <p>My name is Umar, I am a 23 year old student living in Indonesia. My biggest goal is to learn and improve my current programming skills. I want to find a job later as a web or app developer.</p>
            <!-- <a class="btn btn-primary" href=""><i class="fa-solid fa-paper-plane"></i> Mulai Analysis!</a> -->
        </div>
    </div>
</div>

{% endblock %}